#VITE_API_URL=https://localhost:52512
VITE_API_URL=http://74.162.88.242:52513
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJldXBxY3N3c3N6c3JnbnFtZWV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMTAzNzYsImV4cCI6MjA4NDg4NjM3Nn0.TdONTTIrYUDdLiYcKRxu656HTs-FmeRlUb_Dj25PQno
VITE_SUPABASE_URL=https://reupqcswsszsrgnqmeey.supabase.co